.sendMail{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: center;
    background-color: var(--secondary-color);
    padding: 1rem;
    padding-top: 5rem;
    border-top-left-radius: 20%;
    height: 100vh;
    width: 50vw;
    transform: translateX(100%);
    overflow: hidden;
    p{
        color: var(--primary-color);
        font-size: 1.0hrem;
        margin-bottom: 1rem;
        max-width: 70%;
        text-align: center;
        i{
            padding: 0.5rem;
        }
        :hover{
            color: var(--highlight-color-gold);
        }
    }
    .me{
        span{
            .fa-rotate{
                color: var(--highlight-color-blue);
            }
        }
    }
}

.formContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 5rem;
    padding-top: 3rem;
    width: 100%;
}

.contactForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 60%;
    input, textarea{
        width: 100%;
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid var(--primary-color);
        resize: none;
    }
    input:active, textarea:active{
        outline: none;
    }
    input:invalid, textarea:invalid{
        border: 0.25rem solid var(--highlight-color-magenta);
        position: relative;
    }
    input:valid, textarea:valid{
        border: 0.25rem solid var(--highlight-color-blue);
    }
    button{
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid var(--primary-color);
        background-color: var(--secondary-color);
        color: var(--primary-color);
        cursor: pointer;
        position: relative;
    }
    button:hover{
        padding: 0.5rem;
        margin: 0.5rem;
        border: 1px solid var(--highlight-color-blue);
        background-color: var(--highlight-color-blue);
        color: var(--secondary-color);
        cursor: pointer;
        position: relative;
    }
    button::after{
        content: '';
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: var(--primary-color);
        transform: translate(10px, 10px);
        z-index: -1;
    }
}

.thankyouContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100vh;
    transform: translateX(50%);
    background-color: var(--secondary-color);
    padding: 3rem;
    h1{
        color: var(--primary-color);
        font-size: 1.75rem;
        margin-bottom: 1rem;
        max-width: 80%;
        text-align: center;
    }
    p{
        color: var(--primary-color);
        font-size: 1.0rem;
        margin-bottom: 1rem;
        max-width: 80%;
        text-align: center;
    }
}

.textAboutMe{
    position: absolute;
    transform: rotateY(-180deg);
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary-color);
    p{
        .highlightReason, a{
            color: var(--highlight-color-magenta);
            font-weight: 700;
            text-decoration: none;
        }
        .highlightReason{
            font-size: 1.25rem;
        }
    }
}

@media screen and (max-width: 768px){
    .sendMail{
        width: 100vw;
        transform: translateX(0);
        border-bottom-left-radius: 90% 25%;
        border-top-right-radius: 20% 30%;
        border-top-left-radius: 20%;
        border-bottom-right-radius: 50%;
        overflow: hidden;
    }
    .contactForm{
        width: auto;
    }
    .thankyouContainer{
        width: 100%;
        transform: translateX(0);
        padding: 1rem;
        border-top-left-radius: 40% 10%;
        border-top-right-radius: 90% 30%;
        border-bottom-left-radius: 100% 30%;
        border-bottom-right-radius: 60% 10%;		
        h1{
            color: var(--primary-color);
            font-size: 1.75rem;
            margin-bottom: 1rem;
            max-width: 70%;
            text-align: center;
        }
    }
}

.bigHeadliner{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--primary-color);
    margin: 1rem;
    width: 70%;
}

.reasons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90vw;
    li {
        font-size: 1.25rem;
        font-weight: 550;
        margin-bottom: 1rem;
        padding: 0.5rem;
        text-align: center;
        list-style: none;
        display: flex;
        align-items: center;
    }
    li::before {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        margin-right: 1rem;
        background-image: url('/img/arrow-blue.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        flex-shrink: 0;
    }
}