*{
    font-size: 16px;
    font-family: 'Oswald', sans-serif;
    color: #333;
    line-height: 1.5;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url('../img/V1.0.png');
    background-size: cover;
    background-position: center;
    font-size: 1rem;
}

:root{
    --primary-color: #181818;
    --secondary-color: #f4f4f4;
    --font-color: #333333;
    --rotating-color: #d3126c;
}